@model dynamic

@{
	ViewBag.Title = "ClientCached";
	Layout = "_Layout";
}

<h2>ClientCached</h2>

<body>This is simple ToDo .NET Core MVC application created only for investigation of MS Web technologies
<p>@ViewBag.CachedTime</p>
<p>Text after cached time</p></body>
<b>Application runtime:</b>
<p>@ViewBag.AppUptime</p>
