@using ToDoNetCore.Models
@model ToDoNetCore.Models.ToDoModel

@{
	Layout = "_Layout";
}

<!DOCTYPE html>

@Html.ValidationMessage("ShortName", "", new {@class = "text-danger" })
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>.NET Core MVC - Edit</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
	<link href="~/css/NewOrEditToDo.css" rel="stylesheet" />
	<environment names="development">
		<script asp-src-include="/lib/jquery-validation/dist/**/*.js"
		        asp-src-exclude="**.slim.**"
		        asp-append-version="true"></script>
		<script asp-src-include="/js/NewAndEditToDoCustomScript.js"
		        asp-append-version="true"></script>
	</environment>
	<environment names="production, staging">
		<script asp-src-include="/lib/jquery-validation/dist/**/*.min.js"
		        asp-src-exclude="**.slim.**"
		        asp-append-version="true"></script>
		<script asp-src-include="/js/NewAndEditToDoCustomScript.js"
		        asp-append-version="true"></script>
	</environment>
</head>
<body>
<div>
	<form asp-action="Edit">
		<div class="form-horizontal">
			@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
			<div class="form-group">
				<div class="mouseOverAndLeave">
					<p>
						<label asp-for="ShortName" class="col-md-2 control-label">Please fill the Name:</label>
						<input asp-for="ShortName" type="text" class="form-control" name="ShortName">
						<!span asp-validation-for="ShortName" class="text-danger"></!span>
					</p>
				</div>
				<div class="mouseOverAndLeave">
					<p>
						<label asp-for="Description" class="col-md-2 control-label">Please fill the the Description:</label>
						<input asp-for="Description" type="text" class="form-control" name="Description">
						<span asp-validation-for="Description" class="text-danger"></span>
					</p>
				</div>
				<input asp-for="TaskId" hidden="hidden"/>
			</div>
		</div>
		<p>
			Now editing @Model.TaskId
		</p>
		<p><input type="submit" class="btn btn-warning" role="button" value="Save item #@Model.TaskId">
		</p>
	</form>
</div>
</body>
</html>