@model ToDoNetCore.Models.ToDoModel

@{
	ViewBag.Title = "Create New ToDo";
	Layout = "_Layout";
}

<!DOCTYPE html>

@Html.ValidationMessage("ShortName", "", new {@class = "text-danger"})
<html>

<head>
	<meta name="viewport" content="width=device-width" />
	<title>.NET Core MVC - New</title>
	<link href="~/css/site.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
	<link href="~/css/NewOrEditToDo.css" rel="stylesheet" />
	<script>
		function submit() {
			var submitButton = $('submitButton');
			submitButton.click(function() {
				setTimeout(function() { submitButton.addClass('is-loading'); }, 3000);
				document.getElementById("new-todo-form").submit();
			});
		}

		//var submitButton = $('submitButton');
		//submitButton.click(function() {
		//	setTimeout(function() { submitButton.addClass('is-loading'); }, 3000);
		//	document.getElementById("new-todo-form").submit();
		//});
	</script>
	<environment names="development">
		<script asp-src-include="~/lib/jquery/dist/jquery.js"
		        asp-append-version="true"></script>
		@*<script asp-src-include="/lib/jquery/dist/**/j*.js"
		        asp-src-exclude="**.min.**,**.slim.**"
		        asp-append-version="true"></script>*@
		<script asp-src-include="~/js/NewAndEditToDoCustomScript.js"
		        asp-append-version="true"></script>
	</environment>
	<environment names="production, staging">
		<script asp-src-include="/lib/jquery-validation/dist/**/*.min.js"
		        asp-src-exclude="**.slim.**"
		        asp-append-version="true"></script>
		<script asp-src-include="/lib/jquery/dist/**/j*.min.js"
		        asp-src-exclude="**.slin.**"
		        asp-append-version="true"></script>
		<script asp-src-include="~/js/NewAndEditToDoCustomScript.js"
		        asp-append-version="true"></script>
	</environment>
</head>
<body>
<div>
	<form asp-action="New" novalidate id="new-todo-form">
		<div class="form-horizontal">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<div class="mouseOverAndLeave">
				<p>
					<label asp-for="ShortName" class="col-md-2 control-label">Please enter the Name:</label>
					<input asp-for="ShortName" type="text" class="form-control" placeholder="Entity name" id="nameField">
					<span asp-validation-for="ShortName" class="text-danger"></span>
				</p>
			</div>
			<p>
				<div class="mouseOverAndLeave">
					<label asp-for="Description" class="col-md-2 control-label">Please fill the the Description:</label>
					<input asp-for="Description" type="text" class="form-control" placeholder="Entity description" id="descriptionField">
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</p>
		@*<p>
			<input asp-action="New" asp-controller="ToDo" method="post" />
			<input type="file" name="uploadedFile"/> <br>
			<input type="submit" value="Upload"/>
		</p>*@
			</div>
		</div>
		<p>
			<a class="button is-primary is-medium" onclick="submit" id="submitButton">Save item</a>
			<input type="reset" class="btn btn-danger" value="Clear data" onclick="return confirm('Clear all fields?')" />
			<a asp-action="List" class="btn btn-success">
				 <font color="black"><b>< </b></font>Back to List
			</a>
		</p>
	</form>
</div>
</body>
</html>