@using ToDoNetCore.Models
@model ToDoNetCore.Models.ToDoModel

@{
	ViewBag.Title = "Create New ToDo";
	Layout = "_Layout";
}
}

<!DOCTYPE html>

@Html.ValidationMessage("ShortName", "", new {@class = "text-danger"})
<html>

<head>
	<meta name="viewport" content="width-device-width" />
	<title>.NET Core MVC - New</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<script src="~/js/jquery.validate.min.js"></script>
	<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
	<script type="text/javascript" src="~/js/bootstrap-filestyle.min.js"> </script>
	
	<style>
		.mouseOverAndLeave {
			padding: 1px 0px;
			margin: 1px 0px;
		}
		.mouseOverAndLeave:hover  {
			background-color: red;
		}

	</style>
	<script>
		function onMouseOver(placeholder)
		{
			$(placeholder).css("background", "#e6f2ff");
		}
 
		function onMouseLeave(placeholder)
		{
			$(placeholder).css("background", "");
		}
 
		$(function ()
		{
			$(".mouseOverAndLeave").mouseover(function () { onMouseOver(this); })
			$(".mouseOverAndLeave").mouseleave(function () { onMouseLeave(this); })
		})
	</script>
</head>
<body>
<div>

	<form asp-action="New" method="post" enctype="multipart/form-data">
		<div class="form-horizontal">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<div class="mouseOverAndLeave">
				<p>
					<label asp-for="ShortName" class="col-md-2 control-label">Please enter the Name:</label>
					<input asp-for="ShortName" type="text" class="form-control" placeholder="Entity name">
					<span asp-validation-for="ShortName" class="text-danger"></span>
				</p>
			</div>
			<p>
				<div class="mouseOverAndLeave">
					<label asp-for="Description" class="col-md-2 control-label">Please fill the the Description:</label>
					<input asp-for="Description" type="text" class="form-control" placeholder="Entity description">
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</p>
		<p>
			<input asp-action="New" asp-controller="ToDo" method="post" />
			<input type="file" name="uploadedFile"/> <br>
			<input type="submit" value="Upload"/>
		</p>
			</div>
		</div>
		<p>
			<input type="submit" class="btn btn-primary" role="button" value="Save item"/>
			<a asp-action="List" class="btn btn-success"> <font color="black"><b>< </b></font>Back to List</a>
		</p>
	</form>
</div>
</body>
</html>