@model List<ToDoNetCore.Models.ToDoModel>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>Item #@ViewBag.EntityIdToView</title>
	@*<link rel="stylesheet" href="~/css/ViewOneItem.css" />*@
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
</head>
<body>
<div>
	<form asp-action="List">
		<div class="col-sm-2 control-label">
			Item ID:
		</div>
		<div class="col-sm-10 control-label">
			<input type="text" class="form-control" placeholder="@ViewBag.EntityIdToView" readonly />
		</div>
		<div class="col-sm-2 control-label">
			Item Name: 
		</div>
		<div class="col-sm-10 control-label">
			<input type="text" class="form-control" placeholder="@ViewBag.EntityNameToView" readonly />
		</div>
		<div class="col-sm-2 control-label">
			Item Description:
		</div>
		<div class="col-sm-10 control-label">
			<input type="text" class="form-control" placeholder="@ViewBag.EntityDescrToView" readonly />
		</div>
			<p>
				<input type="submit" class="btn btn-success" role="button" value="Back to the List" />
			</p>
</form>
</div>
</body>
</html>