@model ToDoNetCore.Models.ToDoModel

@{
//Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
	<title>Item #@ViewBag.EntityIdToView</title>
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
	@*<link href="~/css/ViewOneItem.min.css" rel="stylesheet" />*@
	<script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
<div>
	<form asp-action="List">
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">
					Item ID:
				</div>
					<div class="col-sm-10 control-label">
						<input type="text" class="form-control" placeholder="@Model.TaskId" readonly />
					</div>
			</div>
			<div class="form-group">
					<div class="col-sm-2 control-label">
						Item Name:
					</div>
					<div class="col-sm-10 control-label">
						<input type="text" class="form-control" placeholder="@Model.ShortName" readonly />
					</div>
			</div>
			<div class="form-group">
					<div class="col-sm-2 control-label">
						Item Description:
					</div>
					<div class="col-sm-10 control-label">
						<input type="text" class="form-control" placeholder="@Model.Description" readonly />
					</div>
			</div>
		</div>
			<div class="form-group">
				<p>
					<input type="submit" class="btn btn-success" role="button" value="Back to the List" />
					<a class="btn btn-dark" id="ajaxBtn">SPA</a>
				</p>
			</div>
</form>
</div>
</body>
</html>