.row
.column {
	box-sizing: border-box;
}

.table {
	width: auto;
	background: #008b8b;
	user-select: none;
	border-collapse: separate;
	border-spacing: 0;
}

.btn-link{
  border:white;
  outline:none;
  background:#4682b4;
  cursor:pointer;
  color:#000000;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}

.table td {
	border: 1px solid #00ffff;
	border-width: 0 1px 1px;
	border-radius: 5px;
}